/* COMPONENTS */
.footer {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.9rem;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.footer__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.footer__icon {
    font-size: 1.2rem;
}